<div class="container">
  <h1 class="text-center">Your Cart</h1>
  <div class="d-flex justify-content-center mt-3">
    <div *ngIf="cartItems.length > 0">
      <div class="card mb-3" style="max-width: 540px;" *ngFor="let tempCartItem of cartItems">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ tempCartItem.imageUrl}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ tempCartItem.name }}</h5>
              <p class="card-text">{{ tempCartItem.unitPrice | currency: 'USD' }}</p>
              <p class="card-text"><small class="text-muted"> <i> Quantity:</i> </small></p>
                <div class="input-group mb-1">
                  <div class="col">
                    <button (click)="incrementQuantity(tempCartItem)" class="btn btn-dark btn-sm bi bi-balloon-heart-fill"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-balloon-heart-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8.49 10.92C19.412 3.382 11.28-2.387 8 .986 4.719-2.387-3.413 3.382 7.51 10.92l-.234.468a.25.25 0 1 0 .448.224l.04-.08c.009.17.024.315.051.45.068.344.208.622.448 1.102l.013.028c.212.422.182.85.05 1.246-.135.402-.366.751-.534 1.003a.25.25 0 0 0 .416.278l.004-.007c.166-.248.431-.646.588-1.115.16-.479.212-1.051-.076-1.629-.258-.515-.365-.732-.419-1.004a2.376 2.376 0 0 1-.037-.289l.008.017a.25.25 0 1 0 .448-.224l-.235-.468ZM6.726 1.269c-1.167-.61-2.8-.142-3.454 1.135-.237.463-.36 1.08-.202 1.85.055.27.467.197.527-.071.285-1.256 1.177-2.462 2.989-2.528.234-.008.348-.278.14-.386Z"/>
</svg></button>
                  </div>
                  <div class="col ms-4 me-2">
                    {{ tempCartItem.quantity }}
                  </div>
                  <div class="col">
                    <button (click)="decrementQuantity(tempCartItem)" class="btn btn-dark btn-sm">-</button>
                  </div>
                </div>
                <p> <small class="text-muted"><i>Subtotal: {{ tempCartItem.quantity*tempCartItem.unitPrice | currency: 'USD'}}</i> </small></p>
                <button (click)="remove(tempCartItem)" class="btn btn-danger">Remove</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <strong>Total price:</strong> {{ totalPrice | currency: 'USD' }} <br>
          <strong>Shipping:</strong> FREE <br>
          <strong>Quantity:</strong> {{ totalQuantity }} <br>
          <a routerLink="/checkout" class="btn btn-dark mt-2">Checkout</a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="cartItems.length <= 0" class="alert alert-secondary" role="alert">
    Your shopping cart is empty.
  </div>
</div>
