    <div class="container mt-4 mb-4">
      <div class="row">
        <div *ngFor="let tempProduct of products" class="col-md-3">
            <div class="card mb-3" style="width: 18rem;">
              <a routerLink="/products/{{ tempProduct.id }}">
                <img src="{{ tempProduct.imageUrl }}" class="card-img-top" alt="...">
              </a>
              <div class="card-body">
                <a routerLink="/products/{{ tempProduct.id }}" class="text-dark">
                  <h6 class="card-title">{{ tempProduct.name }}</h6>
                </a>
                <p class="card-text">{{ tempProduct.unitPrice | currency: 'USD'}}</p>
                <a href="#" class="btn btn-primary">Add to cart</a>
              </div>
            </div>
        </div>
        <!-- If products don't exist (Empty) then display a message -->
        <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role = "alert">
          No products were found.
        </div>
      </div>
    </div>
